:root {
    --input-height: 32px;
    --input-width: 302px;
    
    --table-color: Gainsboro;
    --table-border-color: Silver;
    --yellow-color: yellow;
    --yelow-border-color: DarkKhaki;
    --pink-color: Plum;
    --pink-border-color: MediumOrchid;
    --purple-color: MediumPurple;
    --purple-border-color: BlueViolet;
    --green-color: PaleGreen;
    --green-border-color: SeaGreen;
    --btn-green-color: LightGreen;
    --btn-red-color: LightCoral;
    --btn-red-border-color: IndianRed;

    --border-input-width: 2px;
}

table {
    padding: 10px 40px 10px 0;
    background-color: var(--table-color);
    border: 5px solid var(--table-border-color);
}

input::placeholder {
    color: black;
    opacity: .7;
}

input[type="email"], input[type="password"], input[type="text"], select[name="city"] {
    height: var(--input-height);
    width: var(--input-width);
    box-sizing: border-box;
}

input[type="email"], input[type="text"] {
    background-color: var(--yellow-color);
    border: var(--border-input-width) solid var(--yelow-border-color);
}

input[type="password"] {
    background-color: var(--pink-color);
    border: var(--border-input-width) solid var(--pink-border-color);
}

select[name="city"] {
    background-color: var(--purple-color);
    border: var(--border-input-width) solid var(--purple-border-color);
}

textarea {
    width: var(--input-width);
    height: 92px;
    max-width: var(--input-width);
    min-width: var(--input-width);
    min-height: var(--input-height);
    box-sizing: border-box;
    background-color: var(--green-color);
    border: var(--border-input-width) solid var(--green-border-color);
}

tr td:first-child {
    text-align: right;
    font-weight: bold;
}

tr:nth-child(n+10) td {
    text-align: left;
}

td label {
    text-align: left;
    font-weight: normal;
}

input[type="submit"], input[type="reset"] {
    border: var(--border-input-width) solid var(--table-color);
    padding: 5px;
    cursor: pointer;
}

input[type="submit"] {
    background-color: var(--green-color);
}

input[type="submit"]:hover {
    background-color: var(--btn-green-color);
}

input[type="reset"] {
    background-color: var(--btn-red-color);
}

input[type="reset"]:hover {
    background-color: var(--btn-red-border-color);
}

table:nth-child(n-3) {
    text-align: left;
}