* {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
}

body {
    background-color: #ffe4e1;
}

nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.86);
}

ul {
    display: inline-flex;
    width: 70%;
    margin: 20px auto;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align: center;
}

ul li {
    float:left;
    list-style: none;
    border-radius: 25px;
    border: none;
    transition: all .2s ease;
}

ul li a {
    color: #ffe4e1;
    text-decoration: none;
    display:block;
    padding: 5px 7px;
    margin: 0 2px;

}

li:hover {
    transform: scale(1.1);
    background-color: white;
    box-shadow: 0 0 3px #ffe4e1, 0 0 5px #ffe4e1, 0 0 6px #ffe4e1;

}

li:hover a {
    color: rgba(0, 0, 0, 0.86);
}