//Dark colors
$base-background-dark-color: rgb(13 13 13);
$second-background-dark-color: rgb(31 31 31);
$third-background-dark-color: rgb(64 64 64);

//White colors
$base-background-white-color:#fbfdfd;

//Another colors

//Yellow
$yellow-background-color: #ded37e;
$yellow-border-color: #d2c34f;

//Red
$red-background-color: #d96d77;
$red-broder-color: #d1505c;

//Violet
$violet-background-color: #a17ae2;
$violet-border-color: #783fe1;

//Green
$green-background-color: #82e581;
$green-border-color: #3fd73f;

//Font colors
$base-font-color: #C04848;
$base-font-dark-color: rgb(64 64 64);
$second-font-color: #9b2d30;


//Hover
$green-background-hover: #aaecb0;
$red-background-hover: #efb6bb;
