body{
    margin: 50px;
}
.first{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size:  13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(148, 86, 86);
    font-weight: 700;
}
.second{
    max-width: 500px;
    text-align: left;
    font-size:  13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(148, 86, 86);
    font-weight: 700;

}
.Name{
    max-width: 405px;
    text-align: right;
}
blockquote {
    font-style: italic;
    font-weight: 700;
    font-size: 4 0px; 
    margin: 0 auto;
    max-width: 400px;
    position: relative;
  }
  blockquote::after,
  blockquote::before {
    color: rgb(133, 111, 111);
    font-size: 20px;
    line-height: 0.8;
  }
  blockquote::after {
    content: close-quote;
    vertical-align: bottom;
    position: absolute;
    right: -15px;
    bottom: -10px;
  }
  blockquote::before {
    content: open-quote;
    vertical-align: top;
    position: absolute;
    left: -15px;
  }
  