body {
    padding: 0;
    margin: 0;
    background-color: #B0C7D8;
    text-align: center;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav {
    display: flex;
    justify-content: left;
}
a {
    font-family: "Bookman Old Style";
    font-size: 40px;
    color: darkblue;
}

ul>li {
    margin: 10px;
    display: inline-block;
    border: 3px solid dodgerblue;
    background-color: cornflowerblue;
}

ul>li>a {
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}

ul>li>a:hover {
    color: rgb(255, 255, 255);
    background-color: lightskyblue;
}