.graduates {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    font-family: "Helvetica";
    font-style: italic;
    font-size: 22px;
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
    color: white;
    margin: 0;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.graduates > h2 {
    background-color: darkblue;
    text-decoration: underline;
    transition: font-size 1s, background-color 1s;
}
.graduates > h2:hover {
    font-size: 35px;
    background-color: mediumslateblue;
}
section {
    display: flex;
}
article {
    padding: 45px;
    margin: 20px;
    flex: 1;
}
.position {
    text-align: center;
    justify-content: center;
}

.nav > li {
    list-style-type: none;
    color: #877160;
}
.nav > li > a {
    font-size: 20px;
    float: left;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    outline: #B0C7D8 solid;
    border-radius: 5%;
}
a:hover {
    background-color: #607788;
    color: white;
    border-radius: 5%;
}
input {
    background-color: goldenrod;
    outline: darkgoldenrod solid;
    color: white;
}
input[type="password"] {
    background-color: mediumvioletred;
    outline: #9c1169 solid;
}
input[type="radio"] {
    outline: none;
}
select {
    border: 0;
    background-color: lightskyblue;
    outline: dodgerblue solid;
}
textarea {
  resize: none;
    border: 0;
    outline: darkgreen solid 3px;
    background-color: forestgreen;
    color: white;
}
input[type="checkbox"] {
    outline: none;
}
input[type="button"] {
    outline: none;
}
button {
    background-color: darkseagreen;
}
button + button {
    background-color: lightcoral;
}
img {
  border-radius: 50%;
    transition: border-radius 1s;
    box-shadow: 0 0 30px 15px #fff;
}
img:hover {
    border-radius: 25%;
}
.endpic {
    box-shadow: none;
    border-radius: 0;
}
.endpic:hover {
    border-radius: 0;
}
.endtitle {
    text-align: right;
    background: linear-gradient(-20deg, black, grey, tomato);
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 0;
}
