body{
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    color: #333333;
}

body > div{
    width: 100%;
    max-width: 450px;
    height: 58vh;
    margin: 100px auto;
    border: solid #bdbdbd;
    background-color: #efefef;
}

label{
    align-self: center;

}
b{
    font-size: 18px;
}
input{
    align-self: center;
    height: 30px;
    margin: 5px;
}

form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: right;
    align-items: center;
    margin: 5px 30px 10px 30px;
}

[type = "text"]{
    background-color: #feffb3;
    border: solid 2px #a1a258;
}

[name = "Email"]{
    background-color: #feffb3;
    border: solid 2px #a1a258;
}

[type = "password"]{
    background-color: #fac2ec;
    border: solid 2px #7f2b5c;
}

form > div{
    display: flex;
    justify-content: left;
}

[name = "text_ar"]{
    max-width: 242px;
    margin-left: 5px;
    max-height: 75px;
    border: solid rgb(17, 80, 17) 2px;
    background-color: rgba(127, 255, 0, 0.47);
}

[type = "check"]{
    display: grid;
    grid-template-columns: 1fr 8fr;
}

[type = "checkbox"]{
    max-height: 15px;
    max-width: 15px;
}

[name="checkbox_lab"]{
    display: flex;
    justify-content: left;
}

[type="button"]{
    width: 50%;
    max-width: 125px;
    border: solid rgba(27, 152, 27, 0.16) 2px;
    background-color: rgba(127, 255, 0, 0.47);
    font-weight: 700;
}
[type="reset"]{
    width: 100%;
    max-width: 75px;
    border: solid rgba(255, 0, 0, 0.16) 2px;
    background-color: rgba(238, 35, 35, 0.63);
}

[list="cities"]{
    border: solid rgb(36, 34, 93) 2px;
    background-color: rgba(61, 52, 204, 0.47);
}



