.item{
	display: flex;
	margin: 30px;
}
blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 500px;
margin: 0.25em 0;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
color: grey;
}

blockquote:before {
display: block;
padding-left: 10px;
content: "\201C";
font-size: 50px;
position: absolute;
left: -20px;
top: -20px;
color: #CECECE;
}
blockquote:after {
display: block;
padding-left: 10px;
content: "\201D";
font-size: 50px;
position: absolute;
right: -10px;
bottom: -60px;
color: #CECECE;
}


blockquote cite {
color: #grey;
font-size: 14px;
display: block;
margin-top: 5px;
text-align: right;
}
 
blockquote cite:before {
content: "\2014 \2009";
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile img{
	width: 200px;
	border-radius: 100px;
}

.profile span{
	text-align: center;
	font-style: italic;
	color: grey;
	margin-top: 20px;
}
.quotation{
	margin-left: 50px;
}