body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    list-style-type: none;
    max-width: 400px;
    padding: 0 5%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
    color: #877160;
    font-size: 18px;

    padding: 10px;
    border: 2px solid #B0C7D8;
    border-radius: 4px;

    transition: all 0.5s ease;
}

.nav a:hover {
    background-color: #607788;
    color: white;
}