.nav {
    list-style-type: none;

}

.nav li {
    display: inline-block;
    margin: 10px;
    padding: 0px;
}

.nav a {
    color: #877160;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid #B0C7D8;
}

.nav a:hover {
    background-color: #607788;
    color: white;
}